@font-face {
    font-family: 'Baskerville BT';
    src: url('BaskervilleBT-Bold.woff2') format('woff2'),
        url('BaskervilleBT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville';
    src: url('BaskervilleLight-Italic.woff2') format('woff2'),
        url('BaskervilleLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Baskerville';
    src: url('Baskerville.woff2') format('woff2'),
        url('Baskerville.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville';
    src: url('BaskervilleBold.woff2') format('woff2'),
        url('BaskervilleBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville';
    src: url('BaskervilleBold.woff2') format('woff2'),
        url('BaskervilleBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville';
    src: url('Baskerville-LightA.woff2') format('woff2'),
        url('Baskerville-LightA.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville BT';
    src: url('BaskervilleBT-Italic.woff2') format('woff2'),
        url('BaskervilleBT-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Baskerville BT';
    src: url('BaskervilleBT-BoldItalic.woff2') format('woff2'),
        url('BaskervilleBT-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Baskerville';
    src: url('Baskerville-Normal.woff2') format('woff2'),
        url('Baskerville-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville BT';
    src: url('BaskervilleBT-Bold.woff2') format('woff2'),
        url('BaskervilleBT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville';
    src: url('BaskervilleLight.woff2') format('woff2'),
        url('BaskervilleLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville BT';
    src: url('BaskervilleBT-Roman.woff2') format('woff2'),
        url('BaskervilleBT-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-ExtraLight.woff2') format('woff2'),
        url('TTNorms-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-ExtraLightItalic.woff2') format('woff2'),
        url('TTNorms-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Light.woff2') format('woff2'),
        url('TTNorms-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-ThinItalic.woff2') format('woff2'),
        url('TTNorms-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Regular.woff2') format('woff2'),
        url('TTNorms-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-ExtraBold.woff2') format('woff2'),
        url('TTNorms-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-BoldItalic.woff2') format('woff2'),
        url('TTNorms-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Italic.woff2') format('woff2'),
        url('TTNorms-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Black.woff2') format('woff2'),
        url('TTNorms-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Medium.woff2') format('woff2'),
        url('TTNorms-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-LightItalic.woff2') format('woff2'),
        url('TTNorms-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Bold.woff2') format('woff2'),
        url('TTNorms-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-HeavyItalic.woff2') format('woff2'),
        url('TTNorms-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Heavy.woff2') format('woff2'),
        url('TTNorms-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-MediumItalic.woff2') format('woff2'),
        url('TTNorms-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-BlackItalic.woff2') format('woff2'),
        url('TTNorms-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Thin.woff2') format('woff2'),
        url('TTNorms-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-ExtraBoldItalic.woff2') format('woff2'),
        url('TTNorms-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

