#welcome-to-home{
    font-size: 36px;
}

#aalf-home{
    font-size:60px;
}

#legal-tax-home{
    color: #C6AC71;
    font-size: 36px;
}

.gold-aalf{
  color: #C6AC71;
}

a:focus .gold-aalf, a:visited .gold-aalf, a .gold-aalf{
  color: #C6AC71;
}

a:hover .gold-aalf{
  color: #FFFFFF;
}

#welcome-to-aalf-legal-tax-home{
    text-align: left;
    font-family: 'BaskervilleLight';
    font-weight: 100;
    font-style: normal;
    line-height: 50px;
    vertical-align: middle;
    margin-top:40px;
    z-index: 99999;
    margin-left:-100px;
    opacity: 0; 
}

#center-text-home{
    padding-left:30px;
    font-family: 'TTNorms-Regular';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top:30px;
    text-align: justify;
    height:230px;
}

#right-text-home{
    padding-left:30px;
    font-family: 'TTNorms-Regular';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top:30px;
    text-align: justify;
    height:230px;
}

#home-content-1{
  opacity: 0;
  position: absolute;
  z-index: 999;
  margin-top:50px;
}

#home-content-2{
  opacity: 0;
  position: absolute;
  z-index: 999;
  margin-top:50px;
}

.main-menu-position{
  text-align:right;
}

.fifteen-years-experience{
  background: #F2F2F2;
  height:530px;
}

.exp-wording .title{
  color:#C6AC71;
  font-size: 40px;
  margin-top:50px;
  font-family: "BaskervilleBold";
  letter-spacing: 1px;
  height:60px;
  display:block;
}


.exp-wording .title-mobile{
  display:none;
}
.exp-wording .border-gold{
  border-top:1px solid #C6AC71;
  margin-top:20px;
  width:100px;
  display:block;
}

.exp-wording .border-gold-mobile{
  display:none;
}

.exp-wording .description{
  margin-top:35px;
  font-size:14px;
  font-family: "TTNorms-Light";
  padding-right:100px;
  line-height: 25px;
  text-align: justify;
}

.fifteen-years-experience .contact-form-box{
  position:relative; 
  z-index: 999; 
  background: #FFFFFF; 
  margin-top:-65px;
  -webkit-box-shadow: 8px 3px 19px -1px rgba(186,186,186,0.61);
  -moz-box-shadow: 8px 3px 19px -1px rgba(186,186,186,0.61);
  box-shadow: 8px 3px 19px -1px rgba(186,186,186,0.61);
  font-family: "TTNorms-Light";
}

.fifteen-years-experience .contact-form-box .form-container{
  margin-left:20px;
  margin-right:20px;
}

.contact-form-box .title {
    color: #000000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: "Baskerville-LightA";
    font-weight: lighter;
    font-size: 40px;
    letter-spacing: 1px;
    height: 60px;
}

.contact-form-box .form-field{
  color:#808080;
  margin-top:5px;
  margin-bottom:20px;
}

.contact-form-box .form-field input{
  width:100%;
  border:none;
  border-bottom:1px solid #B3B3B3;
}

.contact-form-box .form-field-textarea{
  color:#808080;
  margin-top:10px;
  margin-bottom:20px;
}

.contact-form-box .form-field-textarea textarea{
  width:100%;
  border:1px solid #B3B3B3;
  height:150px;
}

.contact-form-box .get-a-consultant-btn {
  padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
    border: 1px solid #C6AC71;
    background-color: #C6AC71;
    font-size: 18px;
    font-family: "TTNorms-Medium";
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    letter-spacing: 1px;
}

.contact-form-box .get-a-consultant-btn{
  color:#FFFFFF;
  text-decoration: none;
}

.footer-top-area .back_to_top{
  text-align: center;
}

.footer-top-area .back_to_top a{
  font-size: 16px;
  color:#C6AC71;
  text-decoration: none;
}

.footer-top-area .back_to_top a:hover{
  font-size: 16px;
  color:#FFFFFF;
  text-decoration: none;
}

.scrollup img{
  height: 15px;
    margin-top: -5px;
}

.footer-content .title{
  font-size: 20px;
  margin-top:20px;
  color:#FFFFFF;
  font-family: "Baskerville-Normal";
}

.footer-content .location-title{
  margin-top:70px;
}

.footer-content .border-title{
  margin-top:15px;
  border-top:1px solid #FFFFFF;
  width:30px;
}

.footer-content .description{
  font-size: 12px;
  margin-top:15px;
  color:#FFFFFF;
  font-family: "TTNorms-Regular";
  letter-spacing:2px;
  line-height: 20px;
}

.footer-content .border-links{
  margin-top:20px;
  font-size: 16px;
  color:#C6AC71;
  font-family: "TTNorms-Regular";
}

.footer-content .address{
  font-size: 12px;
  margin-top:20px;
  color:#FFFFFF;
  line-height: 200%;
  font-family: "TTNorms-Regular";
}

.footer-content .address .gold-color{
  color:#C6AC71;
}

a.expertise-icon{
  text-decoration: none;
}

a:hover.expertise-icon{
  text-decoration: none;
}

a .area-of-expertise-block, a:focus .area-of-expertise-block{
  border:2px solid #C6AC71;
  margin:20px;
  padding:20px;
}

a .aoe-icon, a:focus .aoe-icon{
  padding:20px;
}

a .aoe-icon img, a:focus .aoe-icon img{
  height:100px;
}

#expertise-aoe-title{
  border-bottom:none;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

a .aoe-title, a:focus .aoe-title{
  padding:20px;
  padding-top:0px;
  padding-bottom: 5px;
  padding-right: 0px;
  font-size:34px;
  border-bottom:1px solid #CCCCCC;
  margin-bottom:10px;
  text-decoration: none;
  color: #4D4D4D;
  letter-spacing: 0px;
}

a .aoe-description, a:focus .aoe-description{
  padding:20px;
  border-top:1px solid #CCCCCC;
  margin-top:10px;
  font-size: 14px;
  text-decoration: none;
  color: #4D4D4D;
  font-family: "TTNorms-Regular";
  letter-spacing: 0.5px;
  height:240px;
  text-align: justify;
  word-spacing: 0px;
}

a .aoe-readmore, a:focus .aoe-readmore{
  color: #C6AC71;
  text-align: right;
  font-size: 16px;
  font-family: "TTNorms-Italic";
}

a:hover .aoe-icon img{
  height:100px;
}

a:hover .aoe-readmore{
  color: #FFFFFF;
  text-align: right;
  font-size: 16px;
  font-family: "TTNorms-Italic";
}

a:hover .area-of-expertise-block{
  border:2px solid #C6AC71;
  margin:20px;
  padding:20px;
  text-decoration: none;
  background: #C6AC71;
}

a:hover .aoe-icon{
  padding:20px;
  text-decoration: none;
}

a:hover .aoe-title{
  padding:20px;
  padding-top:0px;
  padding-bottom: 5px;
  padding-right: 0px;
  font-size:34px;
  border-bottom:1px solid #FFFFFF;
  margin-bottom:10px;
  color:#FFFFFF;
  text-decoration: none;
}

a:hover .aoe-description{
  padding:20px;
  border-top:1px solid #FFFFFF;
  margin-top:10px;
  font-size: 14px;
  text-decoration: none;
  font-family: "TTNorms-Regular";
  letter-spacing: 0.5px;
  color:#FFFFFF;
  text-align: justify;
  height:240px;
  word-spacing: 0px;
}

.hide_it_first{
  opacity:0;
}

.arrow-img-home{
  width:25px;
}

.exp-counter {
    position: absolute;
    z-index: 0;
    font-size: 500px;
    padding: 0px;
    margin: 0px;
    margin-top: -190px;
    margin-left: -30px;
    color: #CCCCCC;
    opacity: 0.4;
    font-family: "Baskerville-LightA";
    font-weight: lighter;
    letter-spacing: -40px;
}

.exp-wording{
  position: relative;
  z-index: 10;
}

.about-content {
}

.about-content h2{
  font-size: 50px;
  font-family: "Baskerville-Normal";
}

.about-section{
  margin-bottom:50px;
  margin-top:50px;
}

.about-section-1-title{
  margin-bottom: 30px;
}

.about-section-1-content div{
  margin: 0;
  padding: 0;
  text-align: justify;
  letter-spacing: 1px;
  font-family: "TTNorms-Light";
}

.about-section-1-content div img{
  height:500px;
}

.about-section-1-content-left{
  width:44%;
  float:left;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 20px;
  font-family: "TTNorms-Light";
}

.about-section-1-content-right{
  width:46%;
  float: right;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 20px;
}

.about-section-1-title-center{
  text-align: center;
  margin-bottom: 30px;
}

.about-img-container{
  text-align: right !important;
}

.about-text-right{
  padding-right: 15px !important;
  margin-left:5% !important;
  margin-right:5% !important;
}

.footer-get-consultant-btn div{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  text-align: center;
  border:1px solid #C6AC71;
  background-color: #C6AC71;
  font-size:18px;
  font-family: "TTNorms-Medium";
  color:#FFFFFF;
}

.footer-get-consultant-btn:hover div{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  text-align: center;
  border:1px solid #C6AC71;
  background-color: #FFFFFF;
  font-size:18px;
  font-family: "TTNorms-Medium";
  color:#C6AC71;
}

#expertise-h2{
  margin-top:450px !important;
}

.footer-get-consultant-btn{
  color:#FFFFFF;
  text-decoration: none;
}

.footer-get-consultant-btn:hover {
  text-decoration: none;
  color:#FFFFFF;
}

.footer-get-consultant-btn:focus {
  text-decoration: none;
  color:#FFFFFF;
}

.current-page{
  color: #C6AC71 !important;
}
.current-page:hover{
  color: #C6AC71 !important;
}

.partners {
  color:#4D4D4D;
}

#partner_education{
  margin-top:10px;
}

.partners-container{
  margin-top:50px;
  margin-bottom: 50px;
  margin-left:0px !important;
  margin-right:0px !important;
  padding:0px !important;
}

.partners-container div{
  margin-left:0px;
  margin-right:0px;
  padding-left:7px;
}

.partners .partner-title{
  font-family: "Baskerville-Normal";
  border-bottom: 1px solid #999999;
  padding-bottom:10px;
  margin-bottom:10px;
  font-size: 24px;
  letter-spacing: 2px;
}

a.partner-name-link:hover{
  text-decoration: none;
}

a .partner-name, a:focus .partner-name{
  font-family: "Baskerville-Normal";
  font-size: 15px;
  color:#808080;
  font-weight: normal;
  padding-top:5px;
  padding-bottom:10px;
  text-decoration: none;
  letter-spacing: 1px;
}

a:hover .partner-name{
  font-family: "Baskerville-Normal";
  font-size: 15px;
  color:#C6AC71;
  font-weight: normal;
  padding-top:5px;
  padding-bottom:10px;
  text-decoration: none;
  letter-spacing: 1px;
}

a .border-under-title-left-tiny{
  border-top: 1px solid #999999;
  padding:0px;
  text-align: left;
  height:10px;
  width:100px;
}

a .border-under-title-left-tiny img{
  vertical-align: top;
  margin-top:-2px;
  height: 2.5px;
}

a:hover .border-under-title-left-tiny{
  border-top: 1px solid #C6AC71;
  padding:0px;
  text-align: left;
  height:10px;
  width:90%;
}

a:hover .border-under-title-left-tiny img{
  vertical-align: top;
  margin-top:-2px;
  height: 2.5px;
}

.partner-name-header{
  font-family: "Baskerville-SemiBold";
  font-size:24px;
  letter-spacing: 1px;
}

.partner-title-header{
  font-family: "BaskervilleBT-Italic";
  font-size:18px;
  letter-spacing: 1px;
}

.partner-description-section{
  font-family: "TTNorms-Regular";
  font-size:12px;
  letter-spacing: 1px;
  margin-bottom:15px;
  text-align: justify;
}

.border-under-title-super-tiny{
  border:none;
  text-align: center;
  height:10px;
  margin:0px;
  margin-bottom:15px;
}

.border-under-title-super-tiny img{
  margin-top:5px;
}

/* Expertise Page */
.aoe-page-block{
  border:2px solid #C6AC71;
  margin:20px;
  padding:20px;
}

.aoe-page-icon{
  padding:20px;
}

.aoe-page-icon img{
  height:100px;
}

.aoe-page-title{
  padding:20px;
  padding-top:0px;
  padding-bottom: 5px;
  padding-right: 0px;
  font-size:34px;
  text-decoration: none;
  color: #4D4D4D;
  overflow: hidden;
}

#aoe-page-left-title{
  padding:0px;
  margin:0px;
}

#aoe-page-right-title{
  padding:0px;
  margin:0px;
  text-align: right;
}

a.expertise-toggle .aoe-page-title, a:focus.expertise-toggle .aoe-page-title{
  color: #808080;
}

a:hover.expertise-toggle .aoe-page-title{
  color: #C6AC71;
}

#aoe-page-right-title a, #aoe-page-right-title a:visited, #aoe-page-right-title a:focus, #aoe-page-right-title a:active {
  color:#C6AC71;
  font-weight: bold;
  text-decoration: none;
}

#aoe-page-right-title a:hover{
  padding:0px;
  margin:0px;
  text-align: right;
  color:#C6AC71;
  font-weight: bold;
}

.aoe-page-border-under-title-left-small{
  border-top: 1px solid #CCCCCC;
  padding:10px;
  padding-bottom: 0px;
  padding-left:0px;
  margin-left:10px;
  padding-right:0px;
  text-align: left;
}

.aoe-page-border-under-title-left-small img{
  vertical-align: top;
  margin-top:-12px;
  height: 3.5px;
}

.aoe-page-list-content{
  font-family: "TTNorms-Light";
  padding:15px 10px;
  margin-right: 10px;
  margin-left:10px;
  font-size: 20px;
  color:#4D4D4D;
  border-bottom:1px solid #CCCCCC;
  letter-spacing: 1px;
}

.aoe-page-list{
  margin-top:-20px;
  display: none;
}

.aoe-page-list-last{
  border-bottom:none;
}

/* Teams Page */

.team-list-name{
  margin: 50px; 
}

.team-aalf{
   margin-bottom: 50px;
}

.team-page-block{
  border:2px solid #C6AC71;
  margin:20px;
  padding:30px;
}

#team-page-block-title{
  padding:0px;
  margin:0px;
  font-size:32px;
  font-family: "Baskerville-Normal";
}

.team-title{
  padding:0px;
  font-size:34px;
  text-decoration: none;
  color: #4D4D4D;
  overflow: hidden;
  margin-bottom:10px;
}

.team-page-border-under-title-left-small{
  border-top: 1px solid #CCCCCC;
  padding:10px;
  padding-bottom: 0px;
  padding-left:0px;
  padding-right:0px;
  text-align: left;
}

.team-page-border-under-title-left-small img{
  vertical-align: top;
  margin-top:-12px;
  height: 4.3px;
}

.team-page-list-content{
  font-family: "Baskerville-Normal";
  padding:15px 0px;
  font-size: 20px;
  color:#808080;
  border-bottom:1px solid #CCCCCC;
}

.team-page-list{
  margin-top:-20px;
}

.team-page-list-last{
  border-bottom:none;
  padding-bottom:0px;
}

/* Contact Page */

.contact-page-border-under-title{
  border-top: 1px solid #CCCCCC;
  padding:0px;
  text-align: left;
}

.contact-page-border-under-title img{
  vertical-align: top;
  margin-top:-3px;
  height: 5px;
  width:150px;
}

.address-right{
  font-size: 18px;
  padding:0px;
  color:#6D6E6B;
  line-height: 200%;
  font-family: "TTNorms-Regular";
  letter-spacing: 1px;
}

.address-right a, .address-right a:hover, .address-right a:focus, .address-right a:visited{
  color:#C6AC71;
  text-decoration: none;
}

.address-right h2{
  color:#C6AC71;
  font-size: 34px;
  margin:0px;
  margin-top:10px;
  font-family: "TTNorms-Regular";
  font-weight: bold;
  margin-bottom:25px;
}

.contact-content{
  margin-top:-10px;
}

.contact-form-title{
  text-align: center;
}

.contact-form-title h3{
  font-size: 50px;
  font-family: "Baskerville-Normal";
}

.contact-form-content{
  background-color: #F5F5F5;
  padding-top:50px;
}

.margin-after-border{
  margin-bottom:50px;
}

.contact-form-section{
  margin-top:50px;
}



.contact-form-field-container{

}

.contact-row{
  margin-bottom: 20px;
  overflow: hidden;
}

.contact-row input{
  padding:10px 20px;
  font-family: "TTNorms-Regular";
  width:100%;
  background: #FFFFFF;
  border: none;
}

.contact-row textarea{
  padding:10px 20px;
  font-family: "TTNorms-Regular";
  width:100%;
  background: #FFFFFF;
  border: none;
  height: 150px;
}

.contact-row a, .contact-row a:hover, .contact-row a:focus{
  text-decoration: none;
}
.contact-row a div, .contact-row a:hover div, .contact-row a:focus div{
  padding:8px 25px;
  background-color:#C6AC71;
  color:#FFFFFF;
  font-size: 20px;
  text-decoration: none;
  font-family: "TTNorms-Regular";
}

.contact-row div{
  text-align: center;
}

/* Client Page*/
.client-logo{
  padding:20px;
  border: 1px solid #CCCCCC;
  padding-left:0px;
  width:296px;
  height:191px;
}

.clients-logo-section{
  margin-top: 100px;
  margin-bottom:50px;
}

/* Career Page */
.career-aalf{
  margin-bottom: 50px;
}

.arrow{
  height: 25px;
  margin-top:-5px;
}

.career-list-container{
  margin-bottom: 50px;
}

.career-list{
  font-size: 24px;
  vertical-align: top;
  font-family: "TTNorms-Light";
  color: #6D6E6B;
  padding: 10px 0px;
  border-bottom: 1px solid #CCCCCC;
}

.career-first{
  border-top: 1px solid #CCCCCC;
}

.career-list-opened{
  font-size: 24px;
  vertical-align: top;
  font-family: "TTNorms-Light";
  color: #C6AC71;
  padding: 10px 0px;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

.career-right-part{
  text-align: right;
  color: #C6AC71;
  font-family: "TTNorms-Light";
  font-size: 20px;
}

.career-right-part-no-vacancy{
  text-align: right;
  color: #DC7E9A;
  font-size: 20px;
}

.career-requirements{
  font-size: 18px;
  margin-left: 45px;
  margin-top:20px;
  margin-bottom:20px;
  display: none;
}

.career-requirements ul{
  list-style: none;
}

.career-requirements li{
  padding-top:5px;
  padding-bottom: 5px;
}

a.vacancy_link .job-title-wording, a:focus.vacancy_link .job-title-wording{
  color:#808080;
}

a:hover.vacancy_link .job-title-wording{
  color:#C6AC71;
}

.arrow-img{
  float:left; 
  width:25px; 
  overflow: hidden;
}

.job-title-wording{
  float:left; 
  overflow: hidden; 
  margin-left: 10px;
  font-family: "TTNorms-Light";
}

.letter-spacing-1-px{
  letter-spacing: 1px;
}

.lSPager{
  padding:20px !important;
}

.lSSlideOuter .lSPager.lSpg>li a{
  background-color: #FFFFFF;
  border-radius: 30px;
  border:1px solid #C6AC71;
  display: inline-block;
  height: 15px;
  overflow: hidden;
  text-indent: -999em;
  width: 15px;
  position: relative;
  z-index: 99;
  -webkit-transition: all .5s linear 0s;
  transition: all .5s linear 0s;
}

.lSSlideOuter .lSPager.lSpg>li.active a, .lSSlideOuter .lSPager.lSpg>li:hover a{
  background-color: #C6AC71;
}

.mean-container .mean-nav ul li a:hover{
  background: #f8f8f8 none repeat scroll 0 0;
  color: #C6AC71;
}

#submit-message-container{
  border-color:#C6AC71;
  border-width: 1px;
  border-style: solid;
}

#submit-message{
  padding: 8px 25px;
  background-color: #C6AC71;
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
  font-family: "TTNorms-Regular";
}

#backtotop_1{
  display:block;
}

#backtotop_2{
  display:none;
}

.section-title-area {
  position: relative;
  text-align: center;
  height:80px;
}
.section-title-area h2 {
  color: #000000;
  font-size: 52px;
  font-family: : "Baskerville";
}

.section-title-area-left {
  position: relative;
  text-align: left;
}
.section-title-area-left h2 {
  color: #000000;
  font-size: 52px;
  font-family : "Baskerville-Normal";
}

.border-under-title{
  border-top: 1px solid #CCCCCC;
  padding:10px;
  text-align: center;
  height:10px;
}

.margin-under-title{
  margin-top:60px;
}

.border-under-title img{
  vertical-align: top;
  margin-top:-14px;
  width: 400px;
}

.border-under-title-left{
  border-top: 1px solid #CCCCCC;
  padding:10px;
  padding-left:0px;
  text-align: left;
  height:10px;
  margin-bottom: 40px;
}

.border-under-title-left img {
    vertical-align: top;
    margin-top: -13px;
    width: 210px;
}

.border-under-title-area-left{
  border-top: 1px solid #CCCCCC;
  padding:10px;
  text-align: left;
  height:10px;
}

.border-under-title-area-left img{
  vertical-align: top;
  margin-top: -12px;
  width: 250px;
  margin-left: -10px;
}

.margin-for-border{
  margin-top:20px;
}

.border-under-title-left-small{
  border-top: 1px solid #CCCCCC;
  padding:10px;
  text-align: left;
  margin-bottom: 50px;
}

.border-under-title-left-small img{
  vertical-align: top;
  margin-top:-12px;
  height: 3.5px;
}

.section-title-area h2::after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  right: 0;
  width: 70px;
  height: 3px;
  margin: 13px auto;
  font-family: : "Baskerville";
}
.section-title-area p {
  padding: 2px 100px;
}

#arrow-contact{
  margin-top: -3px;
  width:25px;
}

a:focus#getdirection-contact, a#getdirection-contact{
  color: "#C6AC71";
}

a:hover#getdirection-contact{
  color:#AA8D53;
}

.section-description-area {
  text-align: center;
  padding-top:10px;
  color:#808080;
  width:60%;
  position: relative;
  margin-left:auto;
  margin-right:auto;
  font-family: "TTNorms-Light";
  font-size:16px;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom:50px;
}

.section-description-area-justify {
  text-align: justify;
  padding-top:10px;
  color:#808080;
  position: relative;
  margin-left:auto;
  margin-top:40px;
  margin-right:auto;
  font-family: "TTNorms-Light";
  font-size:18px;
  padding-right:50px;
}

.load-more {
  text-align: center;
}
.load-more a {
  background: #000000 none repeat scroll 0 0;
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin-top: 85px;
  padding: 15px 40px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  position: relative;
  text-transform: uppercase;
}
.load-more a:hover {
  background: #cf9455 none repeat scroll 0 0;
}

#expertise-area{
  margin-top:10px;
}

.link-arrow-footer img{ 
  width:20px;
}

#fadein-home-banner{
  opacity: 0;
  margin-top: 20%;
}

#article-content{
  opacity: 0;
  margin-top:-50px;
  z-index: 999;
}

#about-content{
  opacity: 0;
  margin-top:-50px;
  z-index: 999;
}

#expertise-content{
  opacity: 0;
  margin-top:-50px;
  z-index: 999;
}

#partner-content{
  opacity: 0;
  margin-top:-50px;
  z-index: 999;
}

#team-content{
  opacity: 0;
  margin-top:-50px;
  z-index: 999;
}

#career-content{
  opacity: 0;
  margin-top:-50px;
  z-index: 999;
}

#client-content{
  opacity: 0;
  margin-top:-50px;
  z-index: 999;
}

#contact-content{
  opacity: 0;
  margin-top:-50px;
  z-index: 999;
}

#welcome-to-aalf-legal-tax-home-mobile{
  display: none;
}

.desktop-aoe{
  display: block;
}

.mobile-aoe{
  display: none;
}

.desktop{
  display: block;
}

.mobile{
  display: none;
}

.section-title-area-clients h2 {
    color: #000000;
    font-size: 52px;
    font-family: : "Baskerville";
    text-align: center;
}

.section-title-area-contact h2 {
    color: #000000;
    font-size: 52px;
    font-family: : "Baskerville";
    text-align: center;
}

/*article page*/
.article-container{
  margin-bottom: 70px;
}

.article-date{
  margin-top:15px;
  margin-bottom: 15px;
  font-family: "TTNorms-Regular";
  font-size: 14px;
  color:#6D6E6B;
}

.article-title{
  margin-top:5px;
  margin-bottom:5px;
  letter-spacing: 1px;
  font-family: "Baskerville-Normal";
  font-size: 24px;
  color:#C6AC71;
}

.article-page-border-under-title{
  border-top: 1px solid #CCCCCC;
  padding:0px;
  text-align: left;
}

.article-page-border-under-title img{
  vertical-align: top;
  margin-top:-3px;
  height: 5px;
  width:70px;
}

.article-content{
  margin-top:0px;
  margin-bottom: 10px;
  font-family: "TTNorms-Regular";
  font-size: 14px;
  color:#1A1A1A;
  text-align: left;
  width:90%;
}

.article-link{
  margin-top:30px;
  margin-bottom:10px;
}

.article-link a, .article-link a:focus, .article-link a:visited{
  font-style: italic;
  font-size: 14px;
  font-family: "TTNorms-Regular";
  color:#1A1A1A;
  text-decoration: none;
}

.article-link a:hover{
  font-style: italic;
  font-size: 14px;
  font-family: "TTNorms-Regular";
  color:#C6AC71;
  text-decoration: none;
}

.section-title-area-article h2 {
    color: #000000;
    font-size: 52px;
    font-family: : "Baskerville";
    text-align: center;
}