@media(max-width:576px){
	.footer-buttom .footer-text{
		text-align: center;
		font-size:12px;	
	}

	.footer-buttom .footer-text-right{
		text-align: center;
		margin-top:10px;
		margin-bottom:10px;
	}

	.fifteen-years-experience {
		background: #F2F2F2;
    	height: auto;
	}

	.fifteen-years-experience .contact-form-box{
	    background: #FFFFFF;
	    margin-top: 50px;
	    -webkit-box-shadow: 8px 3px 19px -1px rgba(186,186,186,0.61);
	    -moz-box-shadow: 8px 3px 19px -1px rgba(186,186,186,0.61);
	    box-shadow: 8px 3px 19px -1px rgba(186,186,186,0.61);
	    font-family: "TTNorms-Light";
	}

	.fifteen-years-experience .description{
		margin-top: 20px;
		font-size: 14px;
		font-family: "TTNorms-Light";
		padding-right: 0px;
		text-align: justify;
		line-height: 20px;
	}

	#welcome-to-aalf-legal-tax-home{
		text-align: center;
	}

	.home-line{
		display: none;
	}

	#welcome-home-container{
		width:100%;
		text-align: center;
	}

	.section-title-area h2{
		font-size: 32px !important;
	}

	a .aoe-icon img, a:focus .aoe-icon img{
		height:75px;
		width:75px;
		text-align: center;
	}

	a .aoe-icon, a:focus .aoe-icon{
		text-align: center;
		padding:0px;
	}

	a .aoe-title, a:focus .aoe-title{
		text-align: center;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    font-size: 24px;
	    border-bottom: 1px solid #4D4D4D;
	    margin-bottom: 5px;
	    text-decoration: none;
	    color: #4D4D4D;
	}

	a .aoe-readmore, a:focus .aoe-readmore{
		text-align: center;
	}

	a .aoe-description, a:focus .aoe-description{
		font-size: 14px;
	}

	#backtotop_1{
		display:none;
	}

	#backtotop_2{
		margin-top:20px;
		display:block;
	}

	.banner-title h1 {
	    font-size: 35px;
	    letter-spacing: 2px;
	    line-height: 35px;
	    text-align: center;
	    font-family: "Baskerville-Normal";
	}

	.banner-title{
		margin-top:40%;
	}

	.banner-area a.banner-button div {
	    background-color: transparent;
	    border: 1px solid #FFFFFF;
	    border-radius: 0;
	    font-size: 14px;
	    font-weight: 600;
	    padding: 10px 30px;
	    text-transform: uppercase;
	    font-family: "TTNorms-Light";
	    outline: none;
	    color: #ffffff;
	    width: 50%;
	    text-align: center;
	    margin:auto;
	    margin-top:30px;
	}

	.banner-area {
	    background: url(img/page-bennar.jpg) no-repeat;
	    background-position: center center;
	    background-size: cover;
	    text-align: center;
	    color: #ffffff;
	    height: 400px;
	    font-family: "Baskerville";
	}

	.border-under-title img{
		height:2px;
		margin-top:-2px;
	}

	.section-title-area {
	    position: relative;
	    text-align: center;
	    height: 40px;
	    width: 80%;
	    margin-left:auto;
	    margin-right:auto;
	}

	.section-title-area-contact {
	    position: relative;
	    text-align: center;
	    height: 80px;
	    width: 80%;
	    margin-left:auto;
	    margin-right:auto;
	}

	.section-title-area-clients {
	    position: relative;
	    text-align: center;
	    height: 80px;
	    width: 80%;
	    margin-left:auto;
	    margin-right:auto;
	}

	.our-practice-area{
		padding: 0px !important; 
		padding-top:25px !important;
	}

	.contact-form-box .get-a-consultant-btn{
		font-size: 14px;
	}

	.banner-area .about-right h1 {
	    text-align: center;
	    font-size: 35px;
	    color: #FFFFFF;
	}

	.banner-area .about-left {
	    text-align: center;
	    margin:auto;
	    margin-top: 50px;
	    width:50%;
	}

	.banner-area .about-left h1 {
	    text-align: center;
	    font-size: 50px;
	    line-height: 50px;
	}

	.about-content h2 {
		text-align: center;
	    font-size: 35px;
	    font-family: "Baskerville-Normal";
	}

	.border-under-title-left {
	    border-top: 1px solid #CCCCCC;
	    padding: 10px;
	    text-align: center;
	    height: 10px;
	    margin-bottom: 10px;
	}

	.border-under-title-left img{
		height:5px;
		margin-top:-13px;
	}

	.about-section-1-content-left {
	    width: 100%;
	    float: left;
	    font-size: 12px;
	    letter-spacing: 2px;
	    line-height: 20px;
	}

	.about-section-1-content-right {
	    width: 100%;
	    float: right;
	    font-size: 12px;
	    letter-spacing: 2px;
	    line-height: 20px;
	}

	.about-section-1-content-left img{
		margin-bottom:10px;
	}

	.margin-under-title {
	    margin-top: 10px;
	}

	.margin-consultant{
		margin-top:30px;
	}

	.banner-area .expertise-right {
	    margin-top: 50px;
	    color: #000000;
	    padding-left:15px;
	    padding-right:15px;
	}

	.banner-area .expertise-right h1 {
	    text-align: center;
	    font-size: 22px;
	    line-height: 30px;
	}

	.banner-area .expertise-left h1 {
	    text-align: center;
	    font-size: 30px;
	    line-height: 50px;
	}

	.banner-area .expertise-left {
	    margin-top: 130px;
	}

	/*Expertise Page*/
	.aoe-page-icon img{
		height:75px;
		width:75px;
		text-align: center;
	}

	.aoe-page-icon{
		text-align: center;
		padding:0px;
	}

	.aoe-page-title{
		text-align: center;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    font-size: 28px;
	    margin-bottom: 10px;
	    text-decoration: none;
	    color: #4D4D4D;
	}

	.aoe-page-list-content {
	    font-family: "TTNorms-Regular";
	    padding: 10px 5px;
	    margin-right: 5px;
	    margin-left: 5px;
	    font-size: 20px;
	    color: #4D4D4D;
	    border-bottom: 1px solid #4D4D4D;
	    letter-spacing: 1px;
	    text-align: center;
	}

	.partners-name-section{
		margin-bottom:30px;
	}

	.partners-content-section{
		margin-top:30px;
	}


	.section-title-area-left h2 {
	    color: #000000;
	    font-size: 35px;
	    text-align: left;
	    font-family: "Baskerville-Normal";
	}

	.border-under-title-area-left {
	    border-top: 1px solid #CCCCCC;
	    padding: 10px;
	    text-align: left;
	    height: 10px;
	}

	.border-under-title-area-left img {
	    vertical-align: top;
	    margin-top: -12px;
	    width: 100px;
	    margin-left: -10px;
	}

	.margin-for-border{
		margin-top:0px;
	}

	.section-description-area-justify {
	    text-align: left;
	    color: #808080;
	    position: relative;
	    margin-left: auto;
	    margin-top: 0px;
	    margin-right: auto;
	    font-family: "TTNorms-Light";
	    font-size: 12px;
	    padding:0px;
	    margin-bottom: 30px;
	}

	.team-list-name{
		margin:0px;
		margin-bottom:20px;
	}


	.arrow-img {
	    float: left;
	    width: 10px;
	    overflow: hidden;
	}

	.arrow{
		height:10px;
		width: 5px;
	}

	.job-title-wording {
	    float: left;
	    overflow: hidden;
	    margin-left: 10px;
	}

	.career-list {
	    font-size: 14px;
	    vertical-align: top;
	    font-family: "TTNorms-Regular";
	    color: #6D6E6B;
	    padding: 10px 0px;
	    border-bottom: 1px solid #CCCCCC;
	}

	.career-right-part {
	    text-align: right;
	    color: #C6AC71;
	    font-size: 12px;
	}

	.career-right-part-no-vacancy {
	    text-align: right;
	    color: #DC7E9A;
	    font-size: 12px;
	}

	.career-requirements {
	    font-size: 12px;
	    margin-left: 20px;
	    margin-top: 20px;
	    line-height: 15px;
	}

	.career-aalf {
	    margin-bottom: 0px;
	}

	.section-description-area {
	    text-align: center;
	    padding-top: 0px;
	    color: #808080;
	    width: 90%;
	    position: relative;
	    margin-left: auto;
	    margin-right: auto;
	    font-family: "TTNorms-Light";
	    font-size: 12px;
	    line-height: 20px;
	    letter-spacing: 1px;
	}

	.border-under-title {
	    border-top: 1px solid #CCCCCC;
	    padding: 0px;
	    text-align: center;
	    height: 10px;
	    width: 90%;
	    margin-left: auto;
	    margin-right: auto;
	}

	.margin-after-border {
	    margin-bottom: 0px;
	}

	.client-logo {
	    padding: 20px;
	    border: 1px solid #CCCCCC;
	    padding-left: 0px;
	    width: 296px;
	    height: 80px;
	}

	.address-right {
	    font-size: 12px;
	    margin-top:30px;
	    padding: 0px;
	    padding-left: 30px !important;
	    padding-right: 30px !important;
	    color: #6D6E6B;
	    line-height: 200%;
	    font-family: "TTNorms-Regular";
	    letter-spacing: 1px;
	}

	.contact-form-title h3{
	    text-align: center;
	    font-size: 22px;
	}

	.contact-form-field-container {
		margin-bottom: 10px;
	}

	.contact-row {
    	margin-bottom: 0px;
	    overflow: hidden;
	}

	.contact-row textarea {
	    margin-bottom: 10px;
	}

	.contact-row input {
	    padding: 20px 20px;
	    font-family: "TTNorms-Regular";
	    width: 100%;
	    background: #FFFFFF;
	    border: none;
	    font-size:12px;
	}

	.header-area-top-area{
		display:none;
	}

	.mean-container a.meanmenu-reveal span{
		display: block;
	    background: #C6AC71;
	    height: 2px;
	    margin-top: 5px;
	}

	.mobile-menu-area{
		background: #FFFFFF;
		height: 60px;
	}

	.mobile-logo{
		width:200px;
		padding-top:20px;
		padding-left:20px;
		top:-30px;
		padding-bottom: 0px;
		position: relative;
	}

	.mean-container .mean-bar{
		background: transparent none repeat scroll 0 0;
	    float: right;
	    min-height: 42px;
	    padding: 4px 0 0;
	    position: relative;
	    width: 100%;
	    z-index: 999999;
	}

	.mean-container .mean-bar::after {
	    color: #ffffff;
	    content: "";
	    font-size: 21px;
	    left: 5%;
	    position: absolute;
	    top: 12px;
	}

	.mean-container a.meanmenu-reveal {
	    width: 20px;
	    height: 22px;
	    padding: 13px 13px 11px;
	    margin-right: 10px;
	    top: 0;
	    right: 0;
	    cursor: pointer;
	    color: #C6AC71;
	    text-decoration: none;
	    font-size: 16px;
	    text-indent: -9999em;
	    line-height: 22px;
	    font-size: 1px;
	    display: block;
	    font-family: Arial,Helvetica,sans-serif;
	    font-weight: 700;
	    float: right;
	}

	.mean-container .mean-nav {
	    float: left;
	    width: 100%;
	    background: #FFFFFF;
	    position: absolute;
	    top: 60px;
	    padding-bottom: 10px;
	}

	#center-text-home{
	    padding:0px;
	    font-family: 'TTNorms-Regular';
	    font-weight: 400;
	    font-style: normal;
	    font-size: 12px;
	    letter-spacing: 1px;
	    margin-top:15px;
	    margin-bottom:10px;
	    text-align: center;
	    height:180px;
	}

	#right-text-home{
	    padding:0px;
	    font-family: 'TTNorms-Regular';
	    font-weight: 400;
	    font-style: normal;
	    font-size: 12px;
	    letter-spacing: 1px;
	    margin-top:15px;
	    margin-bottom:10px;
	    text-align: center;
	    height:180px;
	}

	#home-content-1{
		padding-left:20px;
		padding-right:20px;
	}
	#home-content-2{
		padding-left:20px;
		padding-right:20px;
	}

	#home-border-under{
		display:none;
	}

	#home-description{
		display: none;
	}

	#welcome-to-aalf-legal-tax-home{
		display:none;
	}

	#welcome-to-aalf-legal-tax-home-mobile{
		display:block;
		text-align: center;
	    font-family: 'BaskervilleLight';
	    font-weight: 100;
	    font-style: normal;
	    line-height: 40px;
	    vertical-align: middle;
	    margin-top:40px;
	    z-index: 99999;
	    margin-left:-100px;
	    opacity: 0; 
	    margin-bottom: 10px;
	}

	#welcome-to-home{
	    font-size: 30px;
	}

	#aalf-home{
	    font-size: 32px;
	    color:#000;
	}

	#legal-tax-home{
	    color: #C6AC71;
	    font-size: 32px;
	}

	.mean-container{
		padding-right: 0px !important;
    	padding-left: 0px !important;
	}

	.mean-container .mean-nav ul li {
	     background: #FFFFFF none repeat scroll 0 0; 
	    float: left;
	    position: relative;
	    width: 100%;
	     border-top: 0px; 
	}

	.mean-container .mean-nav ul li a {
	    background: #FFFFFF none repeat scroll 0 0;
	    color: #C6AC71;
	    display: block;
	    float: left;
	    font-size: 12px;
	    font-family: "TTNorms-Light";
	    margin: 0;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    text-align: center;
	    text-decoration: none;
	    text-transform: uppercase;
	    width: 90%;
	    font-weight: normal;
	}

	.mean-container .mean-nav ul li a:hover{
		background: #FFFFFF none repeat scroll 0 0;
		color: #000;
	}

	.current-page{
		color:#000 !important;
	}

	.banner-title h1{
	  font-size: 24px;
	    letter-spacing: 1px;
	    line-height: 30px;
	    font-weight: bold;
	    font-family: "Baskerville-Normal";
	}

	.desktop-aoe{
		display: none;
	}

	.mobile-aoe{
		display: block;
		margin-bottom:40px;
	}

	a .aoe-description,a:focus .aoe-description,a:hover .aoe-description {
	    padding: 20px;
	    border-top: 1px solid #4D4D4D;
	    margin-top: 0px;
	    font-size: 12px;
	    text-decoration: none;
	    color: #4D4D4D;
	    font-family: "TTNorms-Regular";
	    letter-spacing: 0.5px;
	    text-align: center;
	    word-spacing: 0px;
	}

	a .aoe-readmore, a:focus .aoe-readmore, a:hover .aoe-readmore {
	    color: #C6AC71;
	    text-align: center;
	    font-size: 12px;
	    font-family: "TTNorms-Italic";
	}

	.exp-wording .title {
	    color: #C6AC71;
	    font-size: 40px;
	    margin-top: 50px;
	    font-family: "BaskervilleBold";
	    letter-spacing: 1px;
	    height: 150px;
	}

	.contact-form-box .get-a-consultant-btn {
	    padding-top: 10px;
	    padding-bottom: 10px;
	    padding-left: 30px;
	    padding-right: 30px;
	    text-align: center;
	    border: 1px solid #C6AC71;
	    background-color: #C6AC71;
	    font-size: 18px;
	    font-family: "TTNorms-Medium";
	    margin-bottom: 20px;
	    margin-right: 15px;
	    margin-left: 15px;
	    letter-spacing: 1px;
	}

	.exp-wording .title{
		display: none;
	}

	.exp-wording .title-mobile{
		display: block;
		color:#C6AC71;
	  font-size: 24px;
	  margin-top:40px;
	  font-family: "BaskervilleBold";
	  letter-spacing: 0px;
	  display:block;
	  line-height: 30px;
  		height:60px;
	}

	.exp-wording .heading-title{
		font-size: 40px;
		  font-family: "BaskervilleBold";
	}

	.exp-wording .border-gold-mobile{
	  border-top:1px solid #C6AC71;
	  margin-top:10px;
	  margin-left:-30px;
	  position: absolute;
	  z-index: 1;
	  width:25px;
	  display:block;
	}

	.exp-wording .border-gold{
	  display:none;
	}

	.contact-form-box .title {
	    color: #000000;
	    text-align: center;
	    margin-top: 20px;
	    margin-bottom: 30px;
	    font-family: "Baskerville-LightA";
	    font-weight: lighter;
	    font-size: 40px;
	    letter-spacing: 1px;
	    height: 60px;
	}

	.exp-counter {
	    position: absolute;
	    z-index: 0;
	    font-size: 450px;
	    padding: 0px;
	    margin: 0px;
	    margin-top: -170px;
	    margin-left: -30px;
	    color: #CCCCCC;
	    opacity: 0.4;
	    font-family: "Baskerville-LightA";
	    font-weight: lighter;
	    letter-spacing: -40px;
	}

	.desktop{
		display: none;
	}

	.mobile{
		display:block;
	}

	.fifteen-years-experience{
		padding:0px !important;
	}

	.footer-content .description {
	    font-size: 10px;
	    margin-top: 15px;
	    color: #FFFFFF;
	    font-family: "TTNorms-Regular";
	    letter-spacing: 1px;
	    line-height: 15px;
	}

	.footer-content .location-title {
	    margin-top: 30px;
	}

	.our-practice-area .practice-area{
		margin: 0px !important;
	}

	.banner-area .about-right {
	    text-align: center;
	    margin-top: 0;
	    color: #000000;
	    padding-left: 20px;
	    padding-right: 20px;
	}

	.banner-area .about-right h1 {
	    font-size: 22px;
	    letter-spacing: 1px;
	    line-height: 30px;
	    font-weight: bold;
	    font-family: "Baskerville-Normal";
	}

	.banner-area .about-left {
	    text-align: center;
	    margin: auto;
	    margin-top: 130px;
	    width: 100%;
	}

	.banner-area .about-left h1 {
	    text-align: center;
	    font-size: 30px;
	    line-height: 50px;
	}

	.about-text-right {
	    padding: 0 !important;
	    margin-left: 0 !important; 
	    margin-right: 0 !important;
	}

	.about-section-1-content div {
	    margin: 0;
	    padding: 0;
	    text-align: justify;
	    letter-spacing: 1px;
	    font-family: "TTNorms-Light";
	}

	.top-about{
		background:#F2F2F2;
		margin-top:0px;
		margin-bottom:0px;
		padding-bottom:30px;
	}
	.bottom-about{
		background:#FFFFFF;
		margin-top:0px;
		margin-bottom:0px;
		padding-bottom:30px;
	}
	.footer-consultant{
		margin-top:25px;
	}

	.contact-location{
		margin-top:20px;
	}

	.footer-get-consultant-btn div, .footer-get-consultant-btn:hover div, .footer-get-consultant-btn:focus div  {
		padding-top: 10px;
	    padding-bottom: 10px;
	    padding-left: 5px;
	    padding-right: 5px;
	    text-align: center;
	    border: 1px solid #C6AC71;
	    background-color: #C6AC71;
	    font-size: 16px;
	    font-family: "TTNorms-Medium";
	    margin-bottom: 20px;
	    letter-spacing: 1px;
	    color:#FFFFFF;
	}

	.footer-top-area a, .footer-top-area a:focus, .footer-top-area a:hover {
	    text-decoration: none;
	    color: #FFFFFF;
	    font-family: "TTNorms-Regular";
	    letter-spacing: 1px;
	}

	.vacancy-container{
		padding-left:10px;
		padding-right:10px;
	}

	.map-container-mobile{
		padding-left:0px !important;
		padding-right:0px !important;
	}

	.contact-form-content {
	    background-color: #F5F5F5;
	    padding-top: 20px;
	}

	.about-content-slider li{
		text-align: center;
	}

	.mobile-icon{
		text-align: center;
		width:100%;
	}

	.mobile-icon img{
		text-align: center;
		width:100px;
	}

	.mobile-title{
		text-align: center;
		font-size:24px;
		text-decoration: none;
		color: #4D4D4D;
		padding:10px;
	}

	.aoe-page-list-content{
	  font-family: "TTNorms-Light";
	  padding:10px 10px;
	  margin-right: 10px;
	  margin-left:10px;
	  font-size: 12px;
	  color:#4D4D4D;
	  border-bottom:1px solid #CCCCCC;
	  letter-spacing: 1px;
	}

	.area-of-expertise-container{
		margin-bottom:30px;
	}

	.first-row-content{
		border-top:1px solid #CCCCCC;
	}

	.partner-title-mobile{
		font-family: "Baskerville-Normal";
	  border-bottom: 1px solid #999999;
	  padding-bottom:10px;
	  margin-bottom:10px;
	  font-size: 32px;
	  letter-spacing: 2px;
	}

	a .partner-name-mobile, a:focus .partner-name-mobile, a:hover .partner-name-mobile{
	  font-family: "Baskerville-Normal";
	  font-size: 12px;
	  color:#808080;
	  font-weight: normal;
	  padding:5px 10px;
	  text-decoration: none;
	  letter-spacing: 1px;
	  border-bottom:1px solid #CCCCCC;
	}

	.partners-mid-content-section{
		padding:0px !important;
		margin:0px !important;
	}

	.partner-image{
		padding:0px !important;
		margin:0px !important;
	}

	.partner-name-header {
	    font-family: "Baskerville-Normal";
	    font-size: 16px;
	    color:#4D4D4D;
	    letter-spacing: 1px;
	}

	.partner-title-header {
	    font-family: "BaskervilleBT-Normal";
	    font-size: 16px;
	    color:#4D4D4D;
	    letter-spacing: 1px;
	}

	.partner-description-section {
	    font-family: "TTNorms-Regular";
	    font-size: 12px;
	    letter-spacing: 1px;
	    margin-top: 15px;
	    margin-bottom: 15px;
	    text-align: justify;
	}

	#partner_education_mobile {
	    font-family: "TTNorms-Regular";
	    font-size: 12px;
	    letter-spacing: 1px;
	    margin-top: 15px;
	    margin-bottom: 15px;
	    text-align: justify;
	}

	.border-under-title-super-tiny img {
	    margin-top: 10px;
	    margin-bottom: 10px;
	}

	.partners-container-mobile div{
		margin-left: 0px;
    	margin-right: 0px;
	}

	.partners-container-mobile {
	    margin-top: 30px;
	    margin-bottom: 30px;
	    margin-left: 0px !important;
	    margin-right: 0px !important;
	    padding: 0px !important;
	}

	.section-title-area-article h2 {
	    color: #000000;
	    font-size: 32px;
	    font-family: : "Baskerville";
	}

	.article-link a:hover, .article-link a, .article-link a:focus, .article-link a:visited{
	  font-style: italic;
	  font-size: 14px;
	  font-family: "TTNorms-Regular";
	  color:#C6AC71;
	  text-decoration: none;
	}

	.article-mobile-container{
	    padding-right: 0px !important;
	    padding-left: 0px !important;
	    margin-right: auto;
	    margin-left: auto;
	}

	.article-link{
		margin-bottom: 50px;
	}

	.article-title {
	    margin-top: 5px;
	    margin-bottom: 15px;
	    letter-spacing: 1px;
	    font-family: "Baskerville-Normal";
	    font-size: 22px;
	    color: #C6AC71;
	}

	.section-title-area-contact h2 {
	    color: #000000;
	    font-size: 32px;
	    font-family: : "Baskerville";
	    text-align: center;
	}

	.section-title-area-clients h2 {
	    color: #000000;
	    font-size: 32px;
	    font-family: : "Baskerville";
	    text-align: center;
	}



	#article-content-mobile{
	  opacity: 0;
	  margin-top:-50px;
	  z-index: 999;
	}

	#about-content-mobile{
	  opacity: 0;
	  margin-top:-50px;
	  z-index: 999;
	}

	#expertise-content-mobile{
	  opacity: 0;
	  margin-top:-50px;
	  z-index: 999;
	}

	#partner-content-mobile{
	  opacity: 0;
	  margin-top:-50px;
	  z-index: 999;
	}

	#team-content-mobile{
	  opacity: 0;
	  margin-top:-50px;
	  z-index: 999;
	}

	#career-content-mobile{
	  opacity: 0;
	  margin-top:-50px;
	  z-index: 999;
	}

	#client-content-mobile{
	  opacity: 0;
	  margin-top:-50px;
	  z-index: 999;
	}

	#contact-content-mobile{
	  opacity: 0;
	  margin-top:-50px;
	  z-index: 999;
	}

	#fadein-home-banner-mobile{
	  opacity: 0;
	  margin-top: 20%;
	}

}